@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nova+Square&family=Rajdhani:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-electro: "Electrolize", sans-serif;
  --color-nav-bluenavy: #111827;
  --color-nav-bluegray: #1f2937;
}

@plugin "daisyui";